PATCH Operations list serializes to wrong key

Sample serialized output:
```
{
  "patchOperationList":[
    {
      "path":"active",
      "value":false,
      "op":"replace"
    }
  ],
  "schemas":["urn:ietf:params:scim:api:messages:2.0:PatchOp"]
}
```

Expected serialized output:
```
{
  "Operations":[
    {
      "path":"active",
      "value":false,
      "op":"replace"
    }
  ],
  "schemas":["urn:ietf:params:scim:api:messages:2.0:PatchOp"]
}
```

See [RFC-7644 Section 3.5.2](https://tools.ietf.org/html/rfc7644#section-3.5.2)

Not a blocker for my use (we only use PATCH for activate/deactivate with Okta, so I can use a static string), but I'm sure someone will hit it eventually...

Thanks for pointing out this lack of compliance with the specification!