ErrorResponse object structure is incorrect

From section [RFC7644 Section 3.12](https://tools.ietf.org/html/rfc7644#section-3.12) the ``ErrorResponse`` object should be similar to:

```json
{
     "schemas": ["urn:ietf:params:scim:api:messages:2.0:Error"],
     "scimType":"mutability"
     "detail":"Attribute 'id' is readOnly",
     "status": "400"
}
```
But ``ErrorResponse``s returned from SCIMple break the status field into a sub-object and returns an array of messages as shown below:

```json
{
    "status":
    {
        "code":400,
        "message":"BAD_REQUEST"
    },
    "errorMessage":["Can not construct instance of edu.psu.swe.scim.spec.protocol.search.SortOrder from String value (\"\"): value not one of declared Enum instance names: [ascending, descending]\n at [Source: io.undertow.servlet.spec.ServletInputStreamImpl@46b53b3; line: 1, column: 124] (through reference chain: edu.psu.swe.scim.spec.protocol.data.SearchRequest[\"sortOrder\"])"],
    "link":null
}
```

Some additional data points. I think `status` should be an actual numeric http status, rather than a status description/name. Testing this with unboundid scim library, I see:

```
 Caused by: javax.ws.rs.ProcessingException: Error reading entity from input stream.
        at org.glassfish.jersey.message.internal.InboundMessageContext.readEntity(InboundMessageContext.java:889) ~[jersey-common-2.27.jar:?]
        at org.glassfish.jersey.message.internal.InboundMessageContext.readEntity(InboundMessageContext.java:808) ~[jersey-common-2.27.jar:?]
        at org.glassfish.jersey.client.ClientResponse.readEntity(ClientResponse.java:321) ~[jersey-client-2.27.jar:?]
        at org.glassfish.jersey.client.InboundJaxrsResponse$1.call(InboundJaxrsResponse.java:115) ~[jersey-client-2.27.jar:?]
        at org.glassfish.jersey.internal.Errors.process(Errors.java:316) ~[jersey-common-2.27.jar:?]
        at org.glassfish.jersey.internal.Errors.process(Errors.java:298) ~[jersey-common-2.27.jar:?]
        at org.glassfish.jersey.internal.Errors.process(Errors.java:229) ~[jersey-common-2.27.jar:?]
        at org.glassfish.jersey.process.internal.RequestScope.runInScope(RequestScope.java:389) ~[jersey-common-2.27.jar:?]
        at org.glassfish.jersey.client.InboundJaxrsResponse.runInScopeIfPossible(InboundJaxrsResponse.java:264) ~[jersey-client-2.27.jar:?]
        at org.glassfish.jersey.client.InboundJaxrsResponse.readEntity(InboundJaxrsResponse.java:112) ~[jersey-client-2.27.jar:?]
        at com.unboundid.scim2.client.requests.RequestBuilder.toScimException(RequestBuilder.java:174) ~[scim2-sdk-client-2.2.1.jar:?]
        ... 89 more
    Caused by: com.fasterxml.jackson.databind.exc.InvalidFormatException: Cannot deserialize value of type `java.lang.Integer` from String "NOT_FOUND": not a valid Integer value
     at [Source: (org.glassfish.jersey.message.internal.ReaderInterceptorExecutor$UnCloseableInputStream); line: 1, column: 107] (through reference chain: com.unboundid.scim2.common.messages.ErrorResponse["status"])
        at com.fasterxml.jackson.databind.exc.InvalidFormatException.from(InvalidFormatException.java:67) ~[jackson-databind-2.9.8.jar:2.9.8]
        at com.fasterxml.jackson.databind.DeserializationContext.weirdStringException(DeserializationContext.java:1549) ~[jackson-databind-2.9.8.jar:2.9.8]
        at com.fasterxml.jackson.databind.DeserializationContext.handleWeirdStringValue(DeserializationContext.java:911) ~[jackson-databind-2.9.8.jar:2.9.8]
        at com.fasterxml.jackson.databind.deser.std.NumberDeserializers$IntegerDeserializer._parseInteger(NumberDeserializers.java:522) ~[jackson-databind-2.9.8.jar:2.9.8]
```

Key line being:

```
 Caused by: com.fasterxml.jackson.databind.exc.InvalidFormatException: Cannot deserialize value of type `java.lang.Integer` from String "NOT_FOUND": not a valid Integer value
```

In this case I think that the UnboundId implementation is incorrect as the RFC7644 clearly states:

>status
>      The HTTP status code (see Section 6 of [RFC7231]) expressed as a
>      JSON string.  REQUIRED.

As an aside, I'm working towards removing the issue tracking here (moving it to Apache's Jira) and all further development will occur on the Apache directory-scimple project.  There are a few patches I need to create from this code and move over there and then we'll be migrating our internal systems to the Apache version of this library.

Thank you for the clarification. I'll take this up with UnboundID.

...and yes, look forward to the transition. I have started to play around with that git repo, and have put together this to test this more thoroughly with my apps:
https://github.com/mmoayyed/scim-docker

It's quick and dirty, but does the job for basic integration tests. 

@mmoayyed That looks like exactly what the "in-memory store" was designed for.  We've got several other ways of launching it and I know a couple of the guys working on the Apache PRs have built similar lauchers.  We should probably provide them as quick-starts (TomEE, Wildfly, Spring, etc).

> That looks like exactly what the "in-memory store" was designed for. 

Exactly, and thank you for that! The docker build basically wraps an environment around the in-memory store, and should be useful in spinning up integration tests via CI tools like Travis CI. 

Yep ... somewhere I've got a branch that uses the Maven Jetty plugin to spin up the server during the pre-integration-test phase and then shuts it down (after the integration tests are run) during the post-integration-test phase.  Since our Maven builders here at PSU are already running in Docker containers (via Kubernetes) spinning up a separate Docker container for integration tests is problematic in some ways and doesn't really buy us anything.  If it's part of a TravisCI or GitlabCI pipeline then each step may be performed in a separate container.

One note on your ``Dockerfile`` ... if you're concerned about the size of the one that will run you could use a multi-stage build.  The first stage would need to be built the way you've got it now - a JDK, Maven and miscellaneous tools are required.  This stage would build the WAR.  The second stage needs a JRE, TomEE and the WAR built by the first stage.

Note that from what I'm remember in Wildfly with RESTEasy, you don't actually need the JDK to compile servlets since the RESTEasy servlet is built and installed already.  If you're adding other paths to the server that may not be true (and I don't know how TomEE works internally).

Thanks very much for the suggestions. I'll do a bit of clean up shortly.

Whenever you find a free moment, could you take a look at this issue?
https://github.com/pingidentity/scim2/issues/87#issuecomment-477487466

The UnboundID folks are saying: "The data type of an error response's "status" field is "string", but the value should still be a numeric HTTP status code, such as "400" or "404", not "BAD_REQUEST" or "NOT_FOUND"." I figured you may want to respond, clarify, etc.

I agree ... I guess I misunderstood what you meant above.  It should be just the HTTP Status Code but it should be sent as a JSON string.