sortOrder should be a nillable field in a SearchRequest

The definition of ``SearchRequest`` in [RFC7644 section 3.4.3](https://tools.ietf.org/html/rfc7644#section-3.4.3) states that both ``sortBy`` and ``sortOrder`` are optional but SCIMple fails to unmarshal the ``SearchRequest`` if ``sortOrder`` doesn't match a member of the associated enumeration.